@page
@model KoiOrderingSystem.WebApplication.Pages.CustomerManagement.DeleteModel

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>KoiOrderCustomer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KoiOrderCustomer.Username)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KoiOrderCustomer.Username)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KoiOrderCustomer.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KoiOrderCustomer.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KoiOrderCustomer.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KoiOrderCustomer.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KoiOrderCustomer.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KoiOrderCustomer.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KoiOrderCustomer.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KoiOrderCustomer.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KoiOrderCustomer.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KoiOrderCustomer.CreatedDate)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="KoiOrderCustomer.CustomerId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
