@page
@model KoiOrderingSystem.WebApplication.Pages.CustomerManagement.IndexModel

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KoiOrderCustomer[0].Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KoiOrderCustomer[0].Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KoiOrderCustomer[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KoiOrderCustomer[0].Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KoiOrderCustomer[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KoiOrderCustomer[0].CreatedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.KoiOrderCustomer) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                ********
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CustomerId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CustomerId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CustomerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
